{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-width page-width--narrow section-{{ section.id }}-padding">
  <h1 class="main-page-title page-title h0{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {{ page.title | escape }}
  </h1>

  <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    {{ page.content }}
  </div>

  <div id="wishlistItems">
    {% render 'loading-spinner' %}
  </div>
</div>

{% comment %} <script>
  document.addEventListener('DOMContentLoaded', async function () {
    const container = document.getElementById('wishlistItems');
    const loader = container.querySelector('.loading__spinner');
    const wishlist = JSON.parse(localStorage.getItem('wishlist')) || [];
    loader.classList.remove('hidden');

    if (wishlist.length === 0) {
      container.innerHTML = '<p>Your wishlist is empty.</p>';
      return;
    }

    for (let productHandle of wishlist) {
      try {
        const response = await fetch(`/products/${productHandle}.js`);
        const product = await response.json();
        if (product) {
          loader.classList.add('hidden');
        }
        const productHTML = `
        <div class="wishlist-item">
          <a href="${product.url}">
            <img src="${product.images[0]}" alt="${product.title}" width="200">
            <h3>${product.title}</h3>
            <p>${(product.price / 100).toFixed(2)}</p>
          </a>
        </div>
      `;

        container.insertAdjacentHTML('beforeend', productHTML);
      } catch (error) {
        console.log('Error loading product:', productHandle);
      }
    }
  });
</script> {% endcomment %}

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
